*
{
    box-sizing: border-box;
}
.tabsv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%,-10%);
    width: 1680px;
    height: 960px;
    margin-top: 100px;
    margin-left: -130px;
    padding: 30px 20px;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px 5px #ccc;
    overflow: hidden;
  }
  .tabsv .tab-headerv
  {
    float: left;
    width: 180px;
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 50px 0px;
    margin-left: 500px;
  }
  .tabsv .tab-headerv > div{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 680;
    color: #888;
    cursor: pointer;
    padding-left: 10px;
  }
  .tabsv .tab-headerv > div:hover,
  .tabsv .tab-headerv > div.activev{
    color: #00acee;
  }
  .tabsv .tab-headerv div i{
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
  }
  .tabsv .tab-contentv{
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .tabsv .tab-contentv > div > i{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #555;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
  }
  .tabsv .tab-contentv > div{
    position: absolute;
    text-align: center;
    padding: 40px 20px;
    top: -200%;
    transition: all 500ms ease-in-out;
  }
  .tabsv .tab-contentv > div.activev{
    top: 0px;
  }

  .tabsv .tab-indicatorv{
    position: absolute;
    width: 4px;
    height: 50px;
    background: #00acee;
    left: 198px;
    top: 80px;
    transition: all 500ms ease-in-out;
  }